{% extends 'base.html' %}


{% block title %}
    {% if post %}
        Редактирование поста
    {% else %}
        Создание нового поста
    {% endif %}
{% endblock %}


{% block content_title %}
    <br />
    {% if post %}
        Редактирование поста
    {% else %}
        Создание нового поста
    {% endif %}
{% endblock %}


{% block content %}

    <div class="col-md-8">

        <form action="
            {% if post %}
                {{ url_for('posts.edit_post', slug=post.slug) }}
            {% else %}
                {{ url_for('posts.create_post') }}
            {% endif %}" method="POST">

            {% for field in form %}
                <div class="form-group">
                    {{ field.label(class="control-label") }}
                    {{ field(class="form-control") }}
                </div>
            {% endfor %}

            <br />
            <button type="submit" class="btn btn-primary">
            {% if post %}
                Подтвердить
            {% else %}
                Создать
            {% endif %}
            </button>

        </form>

    </div>

{% endblock %}
